<navbar></navbar>

<div class="container">
    <form ng-submit="login()" class="form">
        <div>
            <label for="username">Username</label>
            <input ng-model="username" placeholder="username" type="text" name="username" id="username">
        </div>

        <div>
            <label for="password">Password</label>
            <input ng-model="password" type="password" placeholder="password" name="password" id="password">
        </div>

        <div>
            <button type="submit" class="btn">Login</button>
        </div>
    </form>

</div>